/* Template */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.slit-in-vertical {
  -webkit-animation: slit-in-vertical 0.45s ease-out both;
  animation: slit-in-vertical 0.45s ease-out both;
}

/* Template end */
html {
  /* min-height: 9999px; */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(230, 230, 230, 1);
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  /* background-color: white; */
  /* position: fixed; */
}

.navbar-brand {
  margin-left: 60px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.navbar-brand a {
  color: black;
  text-decoration: none;
  transition: 0.1s ease;
}

.navbar-brand a:hover {
  color: red;
}

.navbar-list ul {
  display: flex;
  gap: 30px;
  margin-right: 60px;
  list-style: none;
  padding: 0;
}

.navbar-list li a {
  text-decoration: none;
  font-family: "Inter";
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
  transition: 0.3s ease;
}

.navbar-list li a:hover {
  color: red;
}
/* navbar-end */

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 100vh; */
  background: rgba(212, 206, 176, 1);
  background: linear-gradient(
    0deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(245, 245, 245, 1) 100%
  );
  padding-top: 20%;
}

.subtitle {
  font-family: "Inter";
  margin-bottom: -60px;
  font-size: 1.25em;
}

.title {
  font-size: 1.75em;
  margin-bottom: 0px;
  font-family: "Inter", sans-serif;
}

.paragraph {
  margin-top: -1.5%;
  font-family: "Inter";
}
.button-hero {
  margin-top: 1.5%;
  margin-bottom: 500px;
}

.button-40 {
  background-color: #000;
  border: 1px solid transparent;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* Hero section end */

/* About me */
.about {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5%;
  /* background-color: red; */
  /* padding-top: 500px; */
  /* background-color: red; */
}

.about-tittle {
  font-size: 1.75em;
  margin-bottom: 0px;
  font-family: "Inter", sans-serif;
  /* margin-top: 100px; */
}

.paragraph-title {
  margin-top: -1.5%;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 1rem;
  font-family: "Inter";
}

.my-foto {
  /* background-color: red; */
  margin-top: 2%;
  display: flex;
  font-family: "Inter";
  margin-bottom: 20%;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.my-foto img {
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* About me end */

/* My SKills */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Inter";
  padding-top: 5%;
  margin-bottom: 20%;
  /* background-color: red; */
}

.skills-title {
  font-size: 1.75em;
  margin-bottom: 0px;
  font-family: "Inter", sans-serif;
}

.skills-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: white;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skills-1 {
  grid-area: 1 / 1 / 2 / 2;
  padding: 3.125rem;
  /* background-color: red; */
}

.skills-2 {
  grid-area: 1 / 2 / 2 / 3;
  padding: 3.125rem;
  /* background-color: blue; */
}
.skills-3 {
  grid-area: 1 / 3 / 2 / 4;
  padding: 3.125rem;
  /* background-color: yellow; */
}
.skills-4 {
  grid-area: 2 / 1 / 3 / 2;
  /* background-color: green; */
  padding: 3.125rem;
}
.skills-5 {
  grid-area: 2 / 2 / 3 / 3;
  /* background-color: skyblue; */
  padding: 3.125rem;
}
.skills-6 {
  grid-area: 2 / 3 / 3 / 4;
  /* background-color: lightblue; */
  padding: 3.125rem;
}
/* My Skills end */

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5%;
  font-family: "Inter";
  /* background-color: red; */
}

.projects-title {
  font-size: 1.75em;
  margin-bottom: 0px;
  font-family: "Inter", sans-serif;
}

.projects-parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  margin-left: 7%;
  margin-right: 7%;
  grid-row-gap: 0px;
  border-radius: 2%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* CSS */
.button-18 {
  align-items: center;
  background-color: #000;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  text-decoration: none;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #374151;
  color: #ffffff;
}

.projects-1 {
  grid-area: 1 / 1 / 2 / 2;
  /* background-color: red; */
  display: flex;
  padding: 3.125rem;
}

.projects-1-text {
  padding-left: 3.125rem;
}

.projects-2 {
  grid-area: 2 / 1 / 3 / 2;
  /* background-color: blue; */
  display: flex;
  padding: 3.125rem;
}

.projects-2-text {
  padding-left: 3.125rem;
}

.projects-3 {
  grid-area: 3 / 1 / 4 / 2;
  /* background-color: yellow; */
  display: flex;
  padding: 3.125rem;
}

.projects-3-text {
  padding-left: 3.125rem;
}

/* Projects end */

/* Certificate */
.certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10%;
  font-family: "Inter";
  /* background-color: red; */
  margin-bottom: 5%;
}

.certificate-title {
  font-size: 2em;
  margin-bottom: 0px;
  font-family: "Inter", sans-serif;
}

.certificate-parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
/* background-color: pink; */
grid-column-gap: 5%;
margin-left: 7%;
margin-right: 7%;
grid-row-gap: 0px;
}

.certificate-1 { 
  grid-area: 1 / 1 / 2 / 2;
  background-color: white;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s ease;
}

.certificate-1:hover{
  transform: scale(1.05);
}

.certificate-1 img{
  padding: 5% 2% 2% 2%;
  border-radius: 2%;
}

.certificate-1 h1{
  padding-right: 2%;
  padding-left: 2%;
  font-size: 1.5rem;
}

.certificate-2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2%;
  transition: transform 0.3s ease;
}

.certificate-2:hover{
  transform: scale(1.05);
}

.certificate-2 img{
  padding: 5% 2% 2% 2%;
  border-radius: 2%;
}

.certificate-2 h1{
  font-size: 1.5rem;
  padding-right: 2%;
  padding-left: 2%;
}

.certificate-3 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2%;
  transition: transform 0.3s ease;
}

.certificate-3:hover{
  transform: scale(1.05);
}

.certificate-3 img{
  padding: 5% 2% 2% 2%;
  border-radius: 2%;
}

.certificate-3 h1{
  padding-right: 2%;
  font-size: 1.5rem;
  padding-left: 2%;

}

/* contact me */
.contact{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  gap: 40px;
}

.contact .icon{
  color: grey;
  transition: 0.2s;
}

.contact .icon:hover{
  color: black;
}
/* contact me end*/