/* Template */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.color-change-2x {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #f5f5f5;
  }
  100% {
    background: #000;
  }
}
@keyframes color-change-2x {
  0% {
    background: #f5f5f5;
  }
  100% {
    background: blue;
  }
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Template end */
html {
  min-height: 9999px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(230, 230, 230, 1);
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  align-items: center;
}

.navbar-brand {
  margin-left: 90px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.navbar-brand a {
  color: black;
  text-decoration: none;
  transition: 0.1s ease;
}

.navbar-brand a:hover {
  color: red;
}

.navbar-list ul {
  display: flex;
  gap: 40px;
  margin-right: 90px;
  list-style: none;
  padding: 0;
}

.navbar-list li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 0.3s ease;
}

.navbar-list li a:hover {
  color: red;
}
/* navbar-end */

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 100vh; */
  background: rgba(212, 206, 176, 1);
  background: linear-gradient(
    0deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(245, 245, 245, 1) 100%
  );
  padding-top: 230px;
}

.title {
  font-size: 2em;
  margin-bottom: 0px;
  font-family: "Inter", sans-serif;
}

.paragraph {
  margin-top: -22px;
}
.button-hero {
  margin-top: 20px;
  margin-bottom: 500px;

}

.button-40 {
  background-color: #000;
  border: 1px solid transparent;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* Hero section end */

/* About me */
.about {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* padding-top: 500px; */
  /* background-color: red; */
}

.paragraph-title {
  margin-top: -22px;
  padding-right: 100px;
  padding-left: 100px;
  font-size: 1.2rem;

}

/* About me end */

@media (min-width: 768px) {
  .button-40 {
    padding: 0.75rem 1.5rem;
  }
}
